<link href="assets/stylesheets/home-screen-style.css" rel="stylesheet"/>
<div class="row">
	<div class="col-lg-12">
		<div id="lectures" ng-controller="LecturesController">
			<img src="assets/images/image6.gif" alt="Image 6" />
			<img src="assets/images/image7.gif" alt="Image 7" />
			<img src="assets/images/image8.gif" alt="Image 8" />
			<img src="assets/images/image9.gif" alt="Image 9" />
			<img src="assets/images/image10.gif" alt="Image 10" />
			<img src="assets/images/image11.gif" alt="Image 11" />
			<img src="assets/images/image1.gif" alt="Image 1" />
			<img src="assets/images/image2.gif" alt="Image 2" />
			<img src="assets/images/image3.gif" alt="Image 3" />
			<img src="assets/images/image4.gif" alt="Image 4" />
			<img src="assets/images/image5.gif" alt="Image 5" />
		</div>
	</div>
</div>
<div class="row">
	<h1>Welcome, {{user.name||"Guest User"}}!</h1>
	<div>
	<div class="panel panel-default">
		<div class="panel-heading">Active Slide</div>
		<div class="panel-body">{{"Some Data"}}</div>
	</div>
	</div>
</div>