<link rel="stylesheet" href="assets/stylesheets/lecture-style.css"/>
<div>
	<div id="lectureContainer">
		<div class="row">
			<div class="col-md-4 col-lg-4" id="left-div">
				<div id="lecture"><!--ng-click="openLecture($index)"-->
					<a class="btn btn-default" id="backButton" href="#!/lectures"><span ng-show="usingEnglish"><i class="fa fa-arrow-left"></i>&nbsp;Back to Lectures</span><i ng-hide="usingEnglish" class="fa fa-arrow-left fa-2x"></i></a>
					<div ng-click="updateToShowLecture()">
						<h4 ng-show="usingEnglish">{{selected.lecture.name}}</h4>
						<img class="video" ng-src="assets/images/{{selected.lecture.path}}" width="200" height="auto"/>
					</div>
				</div>
				<br/>
				<div class="scroll">
					<div class="term" 
					ng-repeat="term in terms"
					ng-click="updateActiveTerm($index)"
					ng-hide="loadingPage"
					>
						<h4 ng-show="usingEnglish">{{term.name}}</h4>
						<my-video src="{{'assets/videos/signs/'+term.path}}"
						height="135px"
						width="200px"
						id="term_{{$index}}"
						data-type="video/mp4"
						ng-mouseover="playVideo('term_'+$index)"
						ng-mouseleave="stopVideo('term_'+$index)"
						>Angular and Youtube are Angry</my-video>
					</div>
					<div ng-show="loadingPage" class="spinnerDiv">
						<h3 ng-show="usingEnglish">Loading Terms...</h3>
						<i class="fa fa-refresh fa-5x fa-spin"></i>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-lg-8 main" ng-show="showingLecture">
				<div class="row"></div>
				<h1 ng-show="usingEnglish">{{selected.lecture.name}}</h1>
				<my-video src="{{'assets/videos/lectures/'+selected.lecture.path}}"
						id="active_lecture_video"
						width="640px"
						height="360px"
						controls="true"
						data-type="video/mp4"
						ng-mouseover="playVideo('active_lecture_video')"
						ng-mouseleave="pauseVideo('active_lecture_video')">
				</my-video>
			</div>
			<div class="col-md-8 col-lg-8 main" ng-hide="showingLecture">
				<div class="row"></div>
				<h1 ng-show="usingEnglish">{{selected.term.name}}</h1>
				<my-video src="{{'assets/videos/signs/'+selected.term.path}}"
						id="active_term_video"
						width="640px"
						height="360px"
						controls="true"
						data-type="video/mp4"
						ng-mouseover="playVideo('active_term_video')"
						>
				</my-video>
				
				<div >	
					<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
						<div class="carousel-inner">
					    	<div ng-repeat="slide in terms" class="item ng-class:slide.activeClass vetted">
					    		<h2>Vetting: "{{slide.eng}}"</h2>
								<video height="300"></video>
							</div>
						</div>
						<a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
					    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
					</div>
				</div> <!-- END #carouselDiv section -->
				
				
				<p class="question">{{questions[0]}}</p>
				
				
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-2"><input type="radio" value="-2" id="neg2" name="rating"/><br/><label for="neg2"><i class="fa fa-frown-o fa-3x"></i></label></div>
					<div class="col-md-2"><input type="radio" value="-1" id="neg1" name="rating"/><br/><label for="neg1"><i class="fa fa-frown-o fa-3x invisible"></i></label></div>
					<div class="col-md-2"><input type="radio" value="0" id="zero" name="rating"/><br/><label for="zero"><i class="fa fa-meh-o fa-3x"></i></label></div>
					<div class="col-md-2"><input type="radio" value="1" id="pos1" name="rating"/><br/><label for="pos1"><i class="fa fa-frown-o fa-3x invisible"></i></label></div>
					<div class="col-md-2"><input type="radio" value="2" id="pos2" name="rating"/><br/><label for="pos2"><i class="fa fa-smile-o fa-3x"></i></label></div>
					<div class="col-md-1"></div>
				</div>
				<pre>{{selected.termRatings}}</pre>
			</div>
		</div>
	</div>
</div>