<div class="col-md-6 col-md-offset-3" ng-controller="SignInController">
	<!-- PAGE TITLE -->
	<div class="page-header">
		<h1><span class="glyphicon glyphicon-book"></span>  Sign into <span class="brand">Project&nbsp;Deafine</span>&trade;</h1>
		<p>Collecting and standardizing technical terminology for the Deaf</p>
	</div>
	<!-- SHOW ERROR/SUCCESS MESSAGES -->
	<div id="messages" ng-model="message">{{message}}</div>
	<!-- FORM -->
	<form ng-submit="processForm()" autocomplete="off">
		<!-- USERNAME -->
		<div id="username-group" class="form-group" ng-class="{ 'has-error' : errorUsername }">
			<label>Username</label><span>&nbsp;</span><span ng-click="openModal()" class="btn-link">Forgotten?</span>
			<input type="text" name="username" class="form-control" placeholder="sampleUser" ng-model="formData.username">
			<span class="help-block" ng-show="errorUsername">{{errorUsername}}</span>
		</div>
		<!-- PASSCODE -->
		<div id="passcode-group" class="form-group" ng-class="{ 'has-error' : errorPasscode }">
			<label>Passcode</label><span>&nbsp;</span><span ng-click="openModal()" class="btn-link">Forgotten?</span>
			<input type="password" name="passcode" class="form-control" placeholder="s0m3 p@ssKode" ng-model="formData.passcode">
			<span class="help-block" ng-show="errorPasscode">{{errorPasscode}}</span>
		</div>
		<!-- SUBMIT BUTTON -->
		<button type="submit" class="btn btn-success btn-lg btn-block" ng-submit="preValidate()">
			sign in <span class="glyphicon glyphicon-log-in"></span> 
		</button>
	</form>
	<form>
		<div class="form-group">
			<label></label>
			<div ng-click="goTo('\home')" class="btn btn-info btn-lg btn-block">
			go directly into the homepage <span class="glyphicon glyphicon-plus"></span> <!--new to the team? join us here-->
			</div>
		</div>
	</form>
	<div class="page-footer">
		<p></p>
		<img src="assets/images/BU-CSCD.png" class="pull-left"/>
		<!--<p class="highlight">(I'm still working on the name)</p>-->
	</div>


</div> <!-- END Column Div -->