.red{
	text-decoration: none;
	font-style: none;
	font-variant: normal;
	font-weight: normal;
	color:red;
}
p{
	opacity: 1;//.5
}
p.highlight{
	opacity: 1;
}
p:hover{
	opacity: 1;
}
.pull-right{
	float:right;
	margin-left: 10px;
}
.pull-right{
	float:left;
	margin-right: 10px;
}
img.pull-right{
	width: 100px;
	height: auto;
}
hr{
	margin: 0;
}
.last-vetted video, .last-vetted.video{
	border: 1px solid black;
	display: inline-block;
}
.last-vetted{
	display: inline-table;
	text-align: center;
	width:100%
}
#mainContent.notsignin{
	margin-top:100px;
}

.modal { 
	display: block;
}

/* Custom dialog/modal headers */

.dialog-header-error { background-color: #d2322d; }
.dialog-header-wait { background-color: #428bca; }
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-confirm { background-color: #333333; }
	.dialog-header-error span, .dialog-header-error h4,
	.dialog-header-wait span, .dialog-header-wait h4,
	.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

/* Ease Display */

.pad { padding: 25px; }