.thumb{
	position: absolute;
	left:0px;
	top:-22px;
	text-align: center;
	width: 60px;
	height: 50px;
	border:1px solid rgb(231,231,231);
	border-top-color: transparent;
	background-color:rgb(248, 248, 248);
}
.thumb-Link{
	color: black;
	position: absolute;
	bottom: 0px;
	padding-bottom: 5px;
	width:100%;
	height:auto;
}
.thumb-Link:hover{
	color: rgb(100,100,100);
	cursor: pointer;
}
p{
	opacity: 1;//.5
}
p.highlight{
	opacity: 1;
}
p:hover{
	opacity: 1;
}
.pull-right{
	float:right;
	margin-left: 10px;
}
.pull-right{
	float:left;
	margin-right: 10px;
}
img.pull-right{
	width: 100px;
	height: auto;
}
hr{
	margin: 0;
}
.last-vetted video, .last-vetted.video{
	border: 1px solid black;
	display: inline-block;
}
.last-vetted{
	display: inline-table;
	text-align: center;
	width:100%
}
#mainContent{
	margin-top:50px;
}
.modal { 
	display: block;
}

.brand{
	display: inline-table;
	vertical-align: middle;
	text-align: center;
}

.scroll{
	overflow: scroll;
}

.invisible{
	visibility: hidden;
}


.spinnerDiv{
	text-align: center;
}
.unvetted{
	border:5px solid black;
}
.vetted{
	border:5px solid green;
}



.carousel {
  position: relative;
  margin-bottom: 18px;
  line-height: 1;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel .item {
  position: relative;
  display: none;
  text-align: center;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
      -ms-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel .item > img {
  display: block;
  line-height: 1;
}

.carousel .active,
.carousel .next,
.carousel .prev {
  display: block;
}

.carousel .active {
  left: 0;
  text-align: center;
}

.carousel .next,
.carousel .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel .next {
  left: 100%;
}

.carousel .prev {
  left: -100%;
}

.carousel .next.left,
.carousel .prev.right {
  left: 0;
}

.carousel .active.left {
  left: -100%;
}

.carousel .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 50px;
  height: 50px;
  margin-top: -20px;
  font-size: 50px;
  font-weight: 100;
  line-height: 35px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.right {
  right: 15px;
  left: auto;
}

.carousel-control:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 15px 5px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);
}

.carousel-caption h4,
.carousel-caption p {
  color: #ffffff;
}
