#lectureResultsContainer{
	position: relative;
	height:500px;
	overflow:scroll;
	border: solid 1px black;
	margin-top: 150px;
	border: 1px solid black;
	text-align: left;
	//text-indent: 10px;
	padding-top: 10px;
	padding-left: 60px;
}
#lectureResultsContainer div{
	height: auto;
	width: auto;
	//border: 1px solid black;
	display: inline-block;
}
#lectureResultsContainer div img{
	border: 1px solid transparent;
	margin: 5px;
}
#lectureResultsContainer div img:hover{
	border: 1px solid black;
}